@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 47% 11%;
    --foreground: 0 0% 100%;
    --border: 220 13% 18%;
    --input: 220 13% 18%;
    --ring: 224 71.4% 4.1%;
    --radius: 0.75rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-[#151823] text-foreground min-h-screen w-full m-0 p-0;
    background-image: 
      radial-gradient(at 100% 0%, rgba(126, 105, 171, 0.05) 0px, transparent 50%),
      radial-gradient(at 0% 100%, rgba(49, 56, 77, 0.05) 0px, transparent 50%);
    background-attachment: fixed;
  }

  #root {
    @apply w-full max-w-none m-0 p-0;
  }
}