@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 231 24% 10%;
    --foreground: 0 0% 100%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --radius: 0.75rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-[#151823] text-foreground min-h-screen w-full m-0 p-0;
  }

  #root {
    @apply w-full max-w-none m-0 p-0;
  }
}